@{
  Layout = "_Layout";
}

<div class="container-content label">
  <h1 class="h1-font">Snappy Snips!</h1>
  <h2>Our Stylists</h2>

  @if (Model.Count != 0)
  {
    <table>
      <tr class="table-header">
        <th>Stylist Name</th>
        <th>Hire Date</th>
      </tr>
      @foreach (var stylist in Model)
      {
        <tr class="table-row">
          <td><a class="link" href="/stylists/@stylist.GetId()">@stylist.GetName()</a></td>
          <td>@stylist.GetHireDate().ToShortDateString()</td>
        </tr>
      }
    </table>
  }
  <h4><a class="link" href="/stylists/new">Add a New Stylist</a></h4>
  @if (@Model.Count != 0)
  {
    <h4><a class="link" href="/stylists/delete">Delete All Stylists</a></h4>
  }
  <h4><a class="link" href="/">Return to the Salon Foyer</a></h4>
</div>
