@{
  Layout = "_Layout";
}

<h3>This Stylist has the following clients:</h3>

<ol>
@foreach (var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
}
</ol>

<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>
<p><a href='/stylists'>Return to the List of Stylists</a></p>
<p><a href='/'>Return to Main Page</a></p>
