@{
  Layout = "_Layout";
}

<div class="container-content label">
  <h1>Add a Specialty</h1>
  <form action="/specialties" method="post">
    <label for="specialty">Specialty</label>
    <input id="specialty" name="specialty" type="text">
    <button type="submit" class="btn-submit">Add Specialty</button>
    </form>
  <br>
  <p><a class="link" href="/">Return to the Salon Foyer</a></p>
  <p><a class="link" href="/specialties">Back to Our Specialties</a></p>
</div>
