html, body {
  background-image: url("../img/background.jpg");
  height: 100%;
  background-size: auto;
}

.container-content {
  text-align: center;
  vertical-align: middle;
}

.label {
  color: red;
  font-size: 30px;
}

.link {
  color: red;
  font-size: 30px;
}

.link:hover {
  color: white;
  font-size: 30px;
}

.anchor {
  color: red;
  font-weight: bold;
}

.btn-submit {
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 5px:
}

.result {
  font-size: 50px;
  color: yellow;
}
