@{
  Layout = "_Layout";
}
<div class="container-content label">
  <h1>Curl Up and Dye Hair Salon!</h1>
  <h2>Our Foyer</h2>
  <h4><a class="link" href="/stylists">View Hair Stylists</a></h4>
  <h4><a class="link" href="/clients">View Salon Clients</a></h4>
</div>
