@{
  Layout = "_Layout";
}
<div class="container-content label">
  <h1 class="h1-font">Snappy Snips!</h1>
  <h2>Welcome to the Foyer</h2>
  <h4><a class="link" href="/stylists">View Our Stylists</a></h4>
  <h4><a class="link" href="/clients">View Our Clients</a></h4>
  <h4><a class="link" href="/specialties">View Our Specialties</a></h4>
</div>
